body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden; /* убирает прокрутку */
}

canvas {
  border: 2px solid white;
  display: block;
  margin: 20px auto;
}

#controls {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#controls button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #333;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
}

#highscores {
  color: #fff;
  font-size: 18px;
  white-space: pre;
}

#modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

#highscoreModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}